{% extends 'base.tmpl' %}

{% block navbarbg %}bg-index-nav navbar-dark{% endblock %}
{% block subnavbarbg %}bg-index-nav  navbar-dark{% endblock %}
{% block wrapper_class %}bg-yosemite{% endblock %}
{% block wrapper_style %}style="background-image: url('/images/index/yosemite-waterfall-sm-opt.jpg');"{% endblock %}
{% block search_button %}btn-light{% endblock %}
{% block search_box %}{% endblock %}
{% block footer_bg %}bg-footer-nav{% endblock %}
{% block masthead %}{% endblock %}
{% block style_body_color %}#3c3425{% endblock %}
{% block theme_color %}<meta name="theme-color" content="#241E17">{% endblock %}
{% block extra_head %}
  {{ super() }}
  <link rel="stylesheet" href="/assets/css/home.css"/>
{% endblock %}


{% block container %}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <div class="row">
            <div class="card bg-transparent text-center id-card">
              <img src="/images/kevin-sheppard-stylized-v2-opt.png" alt="Kevin Sheppard"
                   class="profile mx-auto d-block"/>
              <div class="card-content">
                <h2 itemprop="name">Kevin Sheppard</h2>
                <h3 itemprop="jobTitle">Associate Professor</h3>
                <h3 itemprop="worksFor" itemscope="" itemtype="https://schema.org/Organization">
                  <span itemprop="name">University of Oxford</span>
                </h3>
                <h4 itemprop="location" itemtype="https://schema.org/Place"><i class="fas fa-map-marker-alt"></i> Oxford/London</h4>
                <div class="icon-block py-4">
                  <a class="contact" href="mailto:kevin.k.sheppard@gmail.com" aria-label="Contact me using email">
                    <i class="far fa-envelope"></i>
                  </a>
                  <a class="contact" href="https://github.com/bashtage" aria-label="Visit my github site">
                    <i class="fab fa-github"></i>
                  </a>
                  <a class="contact" href="https://www.linkedin.com/in/kevinsheppard/" aria-label="View my LinkedIn profile">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="row">
            <div class="col background-info">
              {{ post.text() }}
            </div>
          </div>
          <div class="row">
            <div class="col mini-box">
              <h2>Interests</h2>
              <ul class="ul-interest fa-ul">
                <li class="interest"><i class="fa-li fas fa-infinity"></i>Econometrics</li>
                <li class="interest"><i class="fa-li fas fa-chart-pie"></i>Finance</li>
                <li class="interest"><i class="fa-li fas fa-chart-line"></i> Volatility and Correlation</li>
                <li class="interest"><i class="fa-li fas fa-wave-square"></i>Time-Series and Forecasting</li>
                <li class="interest"><i class="fa-li fas fa-code"></i>Statistical Software</li>
                <li class="interest"><i class="fa-li fas fa-hiking"></i>Hiking</li>
              </ul>
            </div>
            <div class="col mini-box">
              <h2>Education</h2>
              <ul class="ul-edu fa-ul">
                <li><i class="fa-li fas fa-graduation-cap"></i>
                  <div class="description"><p class="course">PhD Economics</p>
                    <p class="institution">University of California - San Diego</p></div>
                </li>
                <li><i class="fa-li fas fa-graduation-cap"></i>
                  <div class="description"><p class="course">BS Mathematics</p>
                    <p class="institution">University of Texas at Austin</p></div>
                </li>
                <li><i class="fa-li fas fa-graduation-cap"></i>
                  <div class="description"><p class="course">BA Economics</p>
                    <p class="institution">University of Texas at Austin</p></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
