{% extends 'story.tmpl' %}

{# Show subnav on posts and index #}
{% block subnavbarbg %}{% endblock %}

{% block masthead %}
{% if post.meta('jumbotron') or post.meta('masthead') %}
{% include "masthead.tmpl" %}
{% else %}
  {{ super() }}
{% endif %}
{% endblock %}

{% block blog_style %}{% endblock %}