/* Code fixups */
main {
    margin-top: 0;
}

body, wrapper {
    min-height: 100vh;
    font-feature-settings: "kern", "liga";
}

.flex-fill {
    flex: 1 1 auto;
}


a.contact {
    color: #ffffff;
}

pre.code .hll, .highlight pre .hll {
    background-color: rgba(255, 255, 0, 0.5);
}

a.headerlink {
    color: #ffffff;
}

a.headerlink:hover {
    color: #0a6ebd;
    transition: 0.5s;
}

.prompt {
    min-width: 0;
    padding: 0;
}

div.prompt {
    padding: 0;
    background-color: transparent;
}

.rendered_html table {
    font-size: 1rem;
}



/* Navbar sliding */
@media (max-width: 576px) {
    .navbar-collapse {
        position: absolute;
        top: 3.5rem;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 100%;
    }
    .navbar-collapse.collapsing {
        height: auto;
        -webkit-transition: left 0.15s ease-out;
        -o-transition: left 0.15s ease-out;
        -moz-transition: left 0.15s ease-out;
        transition: left 0.15s ease-out;
        left: -100%;
    }
    .navbar-collapse.show {
        left: 0;
        -webkit-transition: left 0.15s ease-in;
        -o-transition: left 0.15s ease-in;
        -moz-transition: left 0.15s ease-in;
        transition: left 0.15s ease-in;
    }
}