<!--
.. title: Kevin Sheppard's Photos
.. slug: photos
.. date: 2016-09-15 12:39:34 UTC
.. tags:
.. category:
.. link:
.. description:
.. type: text
.. hidetitle: True
.. author: Kevin Sheppard
-->
<style>
  body {
        background-color: #212529 !important;
  }
</style>
<div class="container">
    {% set count = 0 %}
    <div class="row">
        {% for gallery in galleries %}
        {% set count = count + 1 %}
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="thumbnail">
                <a href="{{ gallery.url }}">
                    <img src="{{ gallery.thumbnail }}" alt="{{ gallery.name }}">
                </a>
                <div class="caption">
                    <a href="{{ gallery.url }}"><h5>{{ gallery.name }}</h5></a>
                </div>
            </div>
        </div>
        {% if count == 4 %}
            {% set count = 0 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>