{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}
{% import 'annotation_helper.tmpl' as notes with context %}
{{ set_locale(lang) }}
{{ base.html_headstart() }}
{% block extra_head %}
  {#  Leave this block alone. #}
{% endblock %}
{{ template_hooks['extra_head']() }}
</head>
{# TODO: Move to style sheet #}
<body>
<a href="#content" class="sr-only sr-only-focusable">{{ messages("Skip to main content") }}</a>

<!-- Menubar -->
<wrapper class="d-flex flex-column">
  <nav class="navbar navbar-expand-sm fixed-top py-3
{% if theme_config.get('navbar_light') %}
navbar-light bg-light
{% elif theme_config.get('navbar_dark') %}
navbar-dark bg-dark
{% else %}
navbar-dark bg-primary
{% endif %}
">
    <div class="container"><!-- This keeps the margins nice -->
      <a class="navbar-brand" href="{{ abs_link(_link("root", None, lang)) }}">
        {% if logo_url %}
          <img src="{{ logo_url }}" alt="{{ blog_title|e }}" id="logo"
               class="d-inline-block align-top">
        {% endif %}

        {% if show_blog_title %}
          <span id="blog-title">{{ blog_title|e }}</span>
        {% endif %}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-navbar"
              aria-controls="bs-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="bs-navbar">
        <ul class="navbar-nav mr-auto">
          {{ base.html_navigation_links_entries(navigation_links) }}
          {{ template_hooks['menu']() }}
        </ul>
        {% if search_form %}
          {{ search_form }}
        {% endif %}

        <ul class="navbar-nav navbar-right">
          {{ base.html_navigation_links_entries(navigation_alt_links) }}
          {% block belowtitle %}
            {% if translations|length > 1 %}
              <li>{{ base.html_translations() }}</li>
            {% endif %}
          {% endblock %}
          {% if show_sourcelink %}
            {% block sourcelink %}{% endblock %}
          {% endif %}
          {{ template_hooks['menu_alt']() }}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
  <!-- End of Menubar -->

  <main class="flex-fill" id="content" role="main">
    {% block masthead %}
      <div class="container">
        <div class="row pt-4"></div>
      </div>
    {% endblock %}
    <div class="container">
      <div class="body-content">
        <!--Body content-->
        {{ template_hooks['page_header']() }}
        {% block content %}{% endblock %}
        <!--End of body content-->

      </div>
    </div>
  </main>
  <footer class="container-fluid w-100 text-light py-3 mt-4
  {%- if theme_config.get('navbar_light') %}
 bg-light
{%- elif theme_config.get('navbar_dark') %}
 bg-dark
{%- else %}
 bg-primary
{%- endif %}">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a class="contact" href="mailto:kevin.k.sheppard@gmail.com">
                <span class="fa-stack fa-lg">
                <i class="far fa-circle fa-stack-2x"></i>
                <i class="far fa-envelope fa-stack-1x"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="contact" href="https://github.com/bashtage">
                <span class="fa-stack fa-lg">
                <i class="far fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="contact" href="https://www.linkedin.com/in/kevinsheppard/">
                <span class="fa-stack fa-lg">
                <i class="far fa-circle fa-stack-2x"></i>
                <i class="fab fa-linkedin fa-stack-1x"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="contact" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
              <span class="fa-stack fa-lg">
                <i class="fab fa-creative-commons fa-stack-2x"></i>
              </span>
              </a>
            </li>
          </ul>
          <!--<p class="copyright text-muted">Copyright © Your Website 2018</p>-->
        </div>
      </div>
      {{ content_footer }}
      {{ template_hooks['page_footer']() }}
    </div>
  </footer>
</wrapper>
{{ base.late_load_js() }}
{% if date_fanciness != 0 %}
  <!-- fancy dates -->
  <script>
      moment.locale("{{ momentjs_locales[lang] }}");
      fancydates({{ date_fanciness }}, {{ js_date_format }});
  </script>
  <!-- end fancy dates -->
{% endif %}
{% block extra_js %}{% endblock %}
<script>
    baguetteBox.run('div#content', {
        ignoreClass: 'islink',
        captions: function (element) {
            return element.getElementsByTagName('img')[0].alt;
        }
    });
</script>
{{ body_end }}
{{ template_hooks['body_end']() }}
</body>
</html>
