{#  -*- coding: utf-8 -*- #}
{% extends 'base.tmpl' %}
{% import 'comments_helper.tmpl' as comments with context %}
{% import 'ui_helper.tmpl' as ui with context %}
{% block sourcelink %}{% endblock %}
{% block jumbotron %}{% endblock %}
{% block search_button %}btn-outline-light {% endblock %}
{% block search_box %}{% endblock %}
{% block style_body_color %}#212121{% endblock %}
{% block theme_color %}<meta name="theme-color" content="#212121">{% endblock %}
{% block navbarbg %}bg-darker navbar-dark{% endblock %}
{% block subnavbarbg %}bg-darker navbar-dark{% endblock %}
{% block wrapper_class %}bg-darker{% endblock %}

{% block content %}
  <!-- The Gallery as lightbox dialog, should be a document body child element -->
  <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
  </div>

  {% if photo_array %}
    <div id="gallery_container"></div>
    {% if photo_array %}
      <div id="links">
        {% for image in photo_array %}
          <a href="{{ image['url'] }}" title="{{ image['title']|e }}">
            <img src="{{ image['url_thumb'] }}" alt="{{ image['title']|e }}"/>
          </a>
        {% endfor %}
      </div>
    {% endif %}
    {% if site_has_comments and enable_comments %}
      {{ comments.comment_form(None, permalink, title) }}
    {% endif %}
  {% else %}
    {% set count = 0 %}
    <div class="container">
      <div class="row">
        {% for gallery in galleries %}
          {% set count = count + 1 %}
          <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="thumbnail">
              <a href="{{ gallery.url }}">
                <img src="{{ gallery.thumbnail }}" class="img-fluid" alt="{{ gallery.name }}">
              </a>
              <div class="caption">
                <a href="{{ gallery.url }}" class="text-light"><h5>{{ gallery.name }}</h5></a>
              </div>
            </div>
          </div>
          {% if count == 4 %}
            {% set count = 0 %}
            </div>

            <div class="row">
          {% endif %}
        {% endfor %}
        </div>
    </div>
  {% endif %}
{% endblock %}

{% block extra_head %}
  {{ super() }}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="rss.xml">
  <link rel="stylesheet" href="/assets/css/blueimp-gallery.min.css"/>
  <link rel="stylesheet" href="/assets/css/galleries.css"/>
  {% if translations|length > 1 %}
    {% for langname in translations.keys() %}
      {% if langname != lang %}
        <link rel="alternate" hreflang="{{ langname }}"
              href="{{ _link('gallery', gallery_path, langname) }}">
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}

{% block extra_js %}
  <script src="/assets/js/blueimp-gallery.min.js"></script>
  <!--<script src="/assets/js/justified-layout.min.js"></script>
  <script src="/assets/js/gallery.min.js"></script>-->
  <script>
      document.getElementById('links').onclick = function (event) {
          event = event || window.event;
          var target = event.target || event.srcElement,
              link = target.src ? target.parentNode : target,
              options = {index: link, event: event},
              links = this.getElementsByTagName('a');
          blueimp.Gallery(links, options);
      };
  </script>
{% endblock %}
