{#  -*- coding: utf-8 -*- #}
{% import 'index_helper.tmpl' as helper with context %}
{% import 'math_helper.tmpl' as math with context %}
{% import 'comments_helper.tmpl' as comments with context %}
{% import 'pagination_helper.tmpl' as pagination with context %}
{% import 'feeds_translations_helper.tmpl' as feeds_translations with context %}
{% extends 'base.tmpl' %}

{# Show subnav on posts and index #}
{% block subnavbarbg %}d-none{% endblock %}


{% block extra_head %}
  {{ super() }}
  <link href="https://fonts.googleapis.com/css?family=Bitter&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/blog.css" type="text/css">
  {% if posts and (permalink == '/' or permalink == '/' + index_file) %}
    <link rel="prefetch" href="{{ posts[0].permalink() }}" type="text/html">
  {% endif %}
  {{ math.math_styles_ifposts(posts) }}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-9">
      {% block content_header %}
        {{ feeds_translations.translation_link(kind) }}
      {% endblock %}
      {% if 'main_index' in pagekind %}
        {{ front_index_header }}
      {% endif %}
      {% if page_links %}
        {{ pagination.page_navigation(current_page, page_links, prevlink, nextlink, prev_next_links_reversed) }}
      {% endif %}
      <div class="postindex">
        {% for post in posts %}
          <article class="h-entry post-{{ post.meta('type') }}" itemscope="itemscope"
                   itemtype="http://schema.org/Article">
            <header>
              <h1 class="p-name entry-title"><a href="{{ post.permalink() }}"
                                                class="u-url">{{ post.title()|e }}</a></h1>
              <div class="metadata">
                <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
            {% if author_pages_generated %}
              <a href="{{ _link('author', post.author()) }}">{{ post.author()|e }}</a>
            {% else %}
              {{ post.author()|e }}
            {% endif %}
            </span></p>
                <p class="dateline">
                  <a href="{{ post.permalink() }}" rel="bookmark">
                    <time class="published dt-published"
                          datetime="{{ post.formatted_date('webiso') }}" itemprop="datePublished"
                          title="{{ post.formatted_date(date_format)|e }}">{{ post.formatted_date(date_format)|e }}</time>
                    {% if post.updated and post.updated != post.date %}
                      <span class="updated"> ({{ messages("updated") }}
                    <time class="dt-updated" datetime="{{ post.formatted_updated('webiso') }}"
                          itemprop="dateUpdated"
                          title="{{ post.formatted_updated(date_format)|e }}">{{ post.formatted_updated(date_format)|e }}</time>)</span>
                    {% endif %}
                  </a>
                </p>
                {% if not post.meta('nocomments') and site_has_comments %}
                  <p class="commentline">
                  {{ comments.comment_link(post.permalink(), post._base_path) }}
                {% endif %}
              </div>
            </header>
            {% if index_teasers %}
              <div class="p-summary entry-summary">
              {{ post.text(teaser_only=True) }}
            {% else %}
              <div class="e-content entry-content">
              {{ post.text(teaser_only=False) }}
            {% endif %}
            </div>
          </article>
        {% endfor %}
      </div>
    </div>
    <div class="col-lg-3">
      <h1>{{ title|e }}</h1>
      {% if cat_items %}
        {% if items %}
          <h2>{{ messages("Categories") }}</h2>
        {% endif %}
        {% for text, full_name, path, link, indent_levels, indent_change_before, indent_change_after in cat_hierarchy %}
          {% for i in range(indent_change_before) %}
            <ul class="list-inline">
          {% endfor %}
        <li class="list-inline-item"><a class="reference badge badge-secondary"
                                        href="{{ link }}">{{ text|e }}</a>
          {% if indent_change_after <= 0 %}
            </li>
          {% endif %}
        {% for i in range(-indent_change_after) %}
          </ul>
          {% if i + 1 < indent_levels|length %}
            </li>
          {% endif %}
        {% endfor %}
        {% endfor %}
        {% if items %}
          <h2>{{ messages("Tags") }}</h2>
        {% endif %}
      {% endif %}
      {% if items %}
        <ul class="list-inline">
          {% for text, link in items %}
            {% if text not in hidden_tags %}
              <li class="list-inline-item"><a class="reference badge badge-secondary"
                                              href="{{ link }}">{{ text|e }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}

    </div>
    {{ helper.html_pager() }}
    {{ comments.comment_link_script() }}
    {{ math.math_scripts_ifposts(posts) }}
  </div>
{% endblock %}
