{% extends 'story.tmpl' %}

{% block masthead %}
  {% if post.meta('jumbotron') %}
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">{{ post.meta('jumbotron') }}</h1>
        <p>{{ post.meta('jumbotron_text') }}</p>
      </div>
    </div>
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}